<!-- {{passport|json}} -->
<div class="container">
    <div class="row">
        <h1 class="text-center my-3">New Passport Details</h1>
        <div class="col-6">
            <!-- form -->
            <form class="p-3 bg-primary">
                <!-- Id -->
                <div class="form-floating my-3">
                    <input [(ngModel)]="passport.id"  name="id"   name="id" type="text" class="form-control" id="floatingInput12" placeholder="Id">
                    <label for="floatingInput12">ID</label>
                </div>
                <!--Name -->
                <div class="form-floating my-3">
                    <input [(ngModel)]="passport.name"  name="name" type="text" class="form-control" id="floatingInput1" placeholder="Name">
                    <label for="floatingInput1">Name</label>
                </div>
                <!-- passport number -->
                <div class="form-floating mb-3">
                    <input [(ngModel)]="passport.passportno"  name="passportno"   name="title" type="text" class="form-control" id="floatingtitle" placeholder="Passport Number">
                    <label for="floatingtitle">Passport Number</label>
                </div>

                <!-- place -->
                <div class="form-floating mb-3">
                    <input [(ngModel)]="passport.place"  name="place"   name="title" type="text" class="form-control" id="floatingtitle" placeholder="Passport Number">
                    <label for="floatingtitle">Place Of Issue</label>
                </div>

                <!-- Photo Url -->
                <div class="form-floating mb-3">
                    <input [(ngModel)]="passport.photourl"  name="photourl"   name="photourl" type="text" class="form-control" id="floatingphoto" placeholder="Photo Url">
                    <label for="floatingphoto">Photo Url</label>
                </div>

                <!-- Email -->
                <div class="form-floating mb-3">
                    <input [(ngModel)]="passport.email"  name="email"  name="email" type="email" class="form-control" id="floatingemail" placeholder="name@example.com">
                    <label for="floatingemail">Email address</label>
                </div>

                <!-- Mobile -->
                <div class="form-floating mb-3">
                    <input [(ngModel)]="passport.phone"  name="phone"   name="phone" type="text" class="form-control" id="floatingmobile" placeholder="Mobile">
                    <label for="floatingmobile">Mobile</label>
                </div>

                <!-- group -->
                <div class="mb-3 form-floating">
                    <select [(ngModel)]="passport.GroupId" name="nationality"  name="GroupId" class="form-control"> 
                        <option selected hidden disabled>{{passport.GroupId}}</option> 
                        <option [value]="group.id" *ngFor="let group of allGroups">{{group.name}}</option>
                    </select>
                </div>
                </form>
                <!-- Button -->
                <div class="text-left">
                    <input type="button" (click)="addPassport()" routerLink="/" value="Create" class="btn btn-success m-3">
                    <a routerLink="/" class="btn btn-danger m-3" style="float: right;">Close</a>
                
                </div>
        </div>
        <div class="col-6">
            <!-- image -->
            <img width="100%" height="500px" [src]="passport.photourl">
        </div>
    </div>
</div>